In [55]:
import pymongo

In [56]:
from pymongo import MongoClient

In [57]:
# 1. MongoClient 객체를 생성하여, MongoDB Server 에 연결 
client = MongoClient('localhost', 27017)

In [58]:
# 2. 데이터베이스 연결
    # 데이터베이스가 없다면 새롭게 생성하고, 연결
    # 데이터베이스가 있다면 연결
    # sample 이라는 이름의 데이터베이스 생성, 연결
db = client.sample

In [59]:
# 3. 컬렉션 연결
    # 컬렉션이 없다면 새롭게 생성하고, 연결
    # 컬렉션이 있다면 연결
    # test 라는 이름의 컬렉션 생성, 연결
collection = db.test

### 데이터 등록, 조회, 수정, 삭제 (CRUD)
- 등록(insert)
    - insert() : deprecated
    - insert_one()
    - insert_many()

In [60]:
collection.insert({'이름':'로운', '직업':'개발자'})

C:\Users\theny\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('62949c97f37bc9c567c639eb')

In [61]:
collection.insert_one({'이름':'혁수','직업':'개그맨'})

In [62]:
collection.insert_many([{'이름':'지수','직업':'가수'},
                       {'이름':'노제','직업':'댄서'},
                       {'이름':'마동석','직업':'배우'},
                       {'이름':'아이유','직업':'개발자'},
                       {'이름':'톰형','직업':'배우'}])

- 조회
    - find()
    - find_one()

In [63]:
for item in collection.find() : 
    print(item)

{'_id': ObjectId('62949c97f37bc9c567c639eb'), '이름': '로운', '직업': '개발자'}
{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}

In [64]:
collection.find_one({'이름':'지수'})

{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}

In [65]:
# 이름에 대해서 오름차순으로 정렬
for item in collection.find().sort('이름'):
    print(item)

{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}
{'_id': ObjectId('62949c97f37bc9c567c639eb'), '이름': '로운', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}
{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}

In [66]:
# 이름에 대해서 오름차순으로 정렬
for item in collection.find().sort('이름', pymongo.DESCENDING):
    print(item)

{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c97f37bc9c567c639eb'), '이름': '로운', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}

- 수정
    - update() : deprecated
    - update_one()
    - update_many()

In [67]:
collection.update_one({'이름':'아이유'},{'$set':{'직업':'데이터분석가'}})

In [68]:
for item in collection.find().sort('이름'):
    print(item)

{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}
{'_id': ObjectId('62949c97f37bc9c567c639eb'), '이름': '로운', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '데이터분석가'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}
{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}

In [69]:
# 직업이 배우인 사람의 직업을 연예인으로 변경
collection.update_many({'이름':'아이유'},{'$set':{'직업':'데이터분석가'}})

In [70]:
for item in collection.find().sort('이름'):
    print(item)

{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}
{'_id': ObjectId('62949c97f37bc9c567c639eb'), '이름': '로운', '직업': '개발자'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '데이터분석가'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}
{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}

- 삭제
    - delete_one()
    - delete_many()
    - remove() : deprecated

In [71]:
#collection.delete_one({'이름':'로운'})
collection.delete_one({'이름':'로운'})

In [72]:
for item in collection.find().sort('이름'):
    print(item)

{'_id': ObjectId('62949c99f37bc9c567c639ee'), '이름': '노제', '직업': '댄서'}
{'_id': ObjectId('62949c99f37bc9c567c639ef'), '이름': '마동석', '직업': '배우'}
{'_id': ObjectId('62949c99f37bc9c567c639f0'), '이름': '아이유', '직업': '데이터분석가'}
{'_id': ObjectId('62949c99f37bc9c567c639ed'), '이름': '지수', '직업': '가수'}
{'_id': ObjectId('62949c99f37bc9c567c639f1'), '이름': '톰형', '직업': '배우'}
{'_id': ObjectId('62949c98f37bc9c567c639ec'), '이름': '혁수', '직업': '개그맨'}

In [73]:
collection.count_documents({})

6

In [74]:
collection.count_documents({'이름':'톰형'})

1

In [75]:
db.list_collection_names()

['test']

In [76]:
client.list_database_names()

['admin', 'config', 'jsondb', 'local', 'sample']

In [ ]:
# 컬렉션 삭제 
# db.drop_collection(collection)

# 데이터베이스 삭제
# client.drop_database(db)